In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

In [11]:
mydata = train_data.iloc[:,64:80]

In [12]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1751 entries, 0 to 1750
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   GarageCond     1651 non-null   object
 1   PavedDrive     1751 non-null   object
 2   WoodDeckSF     1751 non-null   int64
 3   OpenPorchSF    1751 non-null   int64
 4   EnclosedPorch  1751 non-null   int64
 5   3SsnPorch      1751 non-null   int64
 6   ScreenPorch    1751 non-null   int64
 7   PoolArea       1751 non-null   int64
 8   PoolQC         4 non-null      object
 9   Fence          339 non-null    object
 10  MiscFeature    63 non-null     object
 11  MiscVal        1751 non-null   int64
 12  MoSold         1751 non-null   int64
 13  YrSold         1751 non-null   int64
 14  SaleType       1751 non-null   object
 15  SaleCondition  1751 non-null   object
dtypes: int64(9), object(7)
memory usage: 219.0+ KB

In [14]:
mydata.head()

,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,TA,Y,292,44,0,182,0,0,NaN,NaN,NaN,0,12,2009,WD,Normal
1,TA,Y,0,312,40,0,0,0,NaN,NaN,NaN,0,3,2007,WD,Normal
2,TA,Y,192,36,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,TA,Y,0,382,0,0,110,0,NaN,GdPrv,NaN,0,11,2006,WD,Normal
4,TA,Y,0,96,180,0,0,0,NaN,MnPrv,NaN,0,7,2006,WD,Normal

In [15]:
mydata[1:50]

,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1,TA,Y,0,312,40,0,0,0,NaN,NaN,NaN,0,3,2007,WD,Normal
2,TA,Y,192,36,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,TA,Y,0,382,0,0,110,0,NaN,GdPrv,NaN,0,11,2006,WD,Normal
4,TA,Y,0,96,180,0,0,0,NaN,MnPrv,NaN,0,7,2006,WD,Normal
5,TA,Y,40,0,0,0,0,0,NaN,NaN,NaN,0,7,2006,WD,Normal
6,TA,Y,0,30,0,0,0,0,NaN,NaN,NaN,0,1,2008,WD,Normal
7,TA,Y,58,0,0,0,0,0,NaN,NaN,NaN,0,12,2007,WD,Normal
8,TA,Y,0,0,0,0,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
9,TA,Y,0,0,0,0,0,0,NaN,GdWo,NaN,0,9,2006,WD,Normal
10,TA,Y,0,0,0,0,0,0,NaN,NaN,NaN,0,4,2008,WD,Normal
11,TA,Y,0,0,0,407,0,0,NaN,NaN,NaN,0,7,2008,WD,Normal
12,TA,Y,144,112,0,0,0,0,NaN,NaN,NaN,0,4,2008,WD,Normal
13,Fa,Y,0,0,0,0,0,0,NaN,NaN,NaN,0,11,2009,WD,Normal
14,TA,Y,0,32,0,0,0,0,NaN,MnPrv,NaN,0,7,2007,WD,Partial
15,TA,Y,0,0,0,0,0,0,NaN,NaN,NaN,0,4,2010,WD,Abnorml
16,TA,P,261,39,0,0,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
17,TA,P,135,0,41,0,0,0,NaN,MnPrv,NaN,0,4,2010,WD,Normal
18,TA,Y,0,139,55,0,0,0,NaN,NaN,NaN,0,10,2008,WD,Normal
19,TA,Y,272,102,0,0,0,0,NaN,NaN,NaN,0,1,2006,New,Partial
20,TA,Y,100,30,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
21,TA,Y,0,35,0,0,0,0,NaN,NaN,NaN,0,8,2006,New,Partial
22,TA,Y,192,0,0,0,0,0,NaN,NaN,NaN,0,4,2009,WD,Family
23,TA,Y,0,0,0,0,0,0,NaN,NaN,NaN,0,7,2007,CWD,Normal
24,TA,Y,168,57,0,0,0,0,NaN,NaN,NaN,0,5,2006,WD,Normal
25,TA,Y,0,0,0,0,0,0,NaN,NaN,NaN,0,6,2009,WD,Normal
26,TA,Y,180,0,0,0,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
27,TA,Y,0,304,144,0,0,0,NaN,MnPrv,Othr,6500,4,2008,WD,Normal
28,TA,Y,0,25,212,0,0,0,NaN,NaN,NaN,0,4,2008,WD,Normal
29,TA,Y,0,40,0,0,0,0,NaN,NaN,NaN,0,4,2006,WD,Normal
30,TA,Y,160,0,0,0,0,0,NaN,NaN,NaN,0,5,2006,WD,Normal
31,TA,Y,216,0,0,0,0,0,NaN,NaN,NaN,0,3,2009,WD,Abnorml
32,TA,Y,203,0,0,0,0,576,Gd,GdPrv,NaN,0,7,2008,WD,Normal
33,TA,Y,152,0,0,0,0,0,NaN,NaN,NaN,0,7,2008,WD,Normal
34,TA,Y,0,235,0,0,0,0,NaN,NaN,NaN,0,6,2009,WD,Normal
35,NaN,N,0,0,0,0,0,0,NaN,NaN,NaN,0,6,2007,WD,Normal
36,TA,Y,114,28,234,0,0,0,NaN,NaN,NaN,0,12,2006,WD,Normal
37,TA,Y,197,39,0,0,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
38,TA,Y,64,0,0,0,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
39,Fa,P,0,100,48,0,0,0,NaN,NaN,NaN,0,5,2006,WD,Normal
40,TA,Y,150,0,0,0,0,0,NaN,GdPrv,NaN,0,5,2009,WD,Normal
41,TA,Y,264,32,0,0,0,0,NaN,NaN,NaN,0,5,2009,WD,Normal
42,TA,Y,224,137,0,0,0,0,NaN,NaN,NaN,0,3,2008,WD,Normal
43,TA,Y,0,0,0,0,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
44,TA,P,0,341,88,0,0,0,NaN,NaN,NaN,0,7,2006,WD,Normal
45,TA,Y,295,84,0,0,0,0,NaN,GdWo,NaN,0,6,2006,WD,Normal
46,NaN,Y,0,28,0,0,0,0,NaN,MnPrv,NaN,0,9,2007,Oth,Abnorml
47,TA,Y,134,0,0,0,0,0,NaN,MnPrv,Gar2,3000,5,2008,WD,Normal
48,TA,Y,0,48,0,0,60,0,NaN,NaN,NaN,0,6,2009,WD,Partial
49,TA,P,0,0,0,0,0,0,NaN,MnPrv,NaN,0,3,2007,WD,Normal